body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    display: flex;
    align-items: center;
    padding: 20px;
}

.logo {
    width: 850px;
    height: auto;
    margin-right: 20px;
}

h1, h2 {
    color: #333;
}

.student-info, .account-balance {
    background: #f4f4f4;
    padding: 20px;
    margin-bottom: 10px;
}

.footer-image {
    display: block;
    width: 25%;
    height: auto;
    margin: 0;
}
